.news{
    border-radius:10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:white;
    align-items: center;
    padding: 10px;
   
}
.image{
    width: 24vh;
    border-radius: 10px;
}
.title{
    width: 60%;
    font-size: larger;
}
.content{
    width: 70%;
    font-size: smaller;
}

.date{
    color: lightslategrey;
}
@media (max-width: 600px){
    .title{
        width: 100%;
    }
}